* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    line-height: 1.5;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    margin: 2rem;
    width: 100%;
    min-height: 100vh;
}
h1 {
    font-weight: lighter;
    color: #004c3f;
    text-align: justify;
}
h2 {
    font-weight: lighter;
    color: #004c3f;
    margin: 0.5rem;
}
.search_container {
    width: 80%;
}
.search {
    width: 500px;
    max-width: 90%;
    height: 2rem;
    padding: 6px;
    border: 2px solid #004c3f;
}
.error {
    color: red;
    margin: 0.3rem;
}
.hide {
    display: none;
}
.searchBtn {
    margin: 0.5rem;
    font-size: large;
    padding: 0.2rem 1.5rem;
    color: #004c3f;
    border: 2px solid #004c3f;
    background: transparent;
}
.searchBtn:hover {
    background-color: #004c3f;
    color: #ffffff;
}
.results_container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin: 1rem;
    height: auto;
}
.search_results {
    width: 100%;
    border: 2px solid #004c3f;
    padding: 1.5rem;
}
.search_query {
    margin: 0.1rem;
    font-weight: bold;
    text-align: justify;
}
.results {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.results span {
    padding: 0.1rem;
}
.result {
    margin: 0.5rem 0;
}
.result {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.favorites {
    border: 2px solid #004c3f;
    padding: 1.5rem;
}
.nominate {
    border: 1px solid #004c3f;
    padding: 0.2rem 1rem;
    background: transparent;
    color: #004c3f;
    height: 2rem;
    margin: 0.5rem;
}
.nominate:hover {
    background: #004c3f;
    color: #ffffff;
}
.remove {
    border: 1px solid red;
    padding: 0.2rem 1rem;
    background: transparent;
    color: red;
}
.remove:hover {
    background-color: red;
    color: #ffffff;
}
.movie_title {
    font-weight: bold;
    text-align: justify;
}
.year {
    text-align: center;
}
footer {
    padding: 1rem;
    color: #004c3f;
}
/**Spinner*/
.loader {
    visibility: hidden;
    width: 2rem;
    height: 2rem;
    border: 2px solid #ffffff;
    border-top: 3px solid #004c3f;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
.loader.show {
    visibility: visible;
}
@media only screen and (max-width: 799px ) {
    .results_container {
        grid-template-columns: repeat(1,1fr);
    }
   .results span {
       padding: 0.4rem;
   }
}
